*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #34495e;
}

.box{
    background: #191919;
    position: absolute;
    padding: 5%;
    min-width: 310px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.box input[type="text"]{
    background: none;
    border: 1px solid aqua;
    padding: 10px;

    border-radius: 3px;
    text-align: center;
    margin: 20px auto;
    outline: none;
    color: white;

}

.box input[type="submit"], input[type="button"]{
    background: none;
    border: 1px solid aqua;
    padding: 10px;

    border-radius: 3px;
    text-align: center;
    margin: 20px auto;
    outline: none;
    color: white;

}

.box input[type="submit"]:hover, input[type="button"]:hover{
    cursor: pointer;
}

.box p{
    text-align: left;
    padding: 2px;
    color: white;
}

.chat{
    border: 1px solid aqua;
    padding: 2px;
}

header{
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    background-color: black;
    color: white;
}
